/*
  But :     CSS du projet sur les compositeurs
  Auteur : Rémi Carrard
  Date :   05.06.2023 / V1.0
*/
body {
  background-color: #ffffe3;
  font-family: Arial, Helvetica, sans-serif;
}

.titre {
  font-size: 24pt;
  text-align: center;
  margin: 0.5cm;
  padding-left: 20%;
}

.contenu {
  display: flex;
  align-items: flex-start;
}

#compositeurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.comp {
  text-align: center;
  font-size: 14pt;
  background-color: white;
  padding: 5pt;
  border-radius: 5pt;
  margin: 0.5cm;
}
.comp > img {
  border-radius: 5pt;
}
.nomComp>p {
  text-align: center;
  flex-wrap: wrap;
  width: 200px;
  color: black;
}
a{
  text-decoration: none;
  color: black;
}
#labels {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 5pt;
  font-size: 14pt;
  position: absolute;
}
#resultatMorceau{
  display: flex;
  flex-direction: column;
  margin: 5pt;
  font-size: 14pt;
  width: 147px;
  margin-right: 0.5cm;
  margin-left: 135.33333333333333333334px;
}

#resultatCompo{
  display: flex;
  flex-direction: column;
  margin: 5pt;
  font-size: 14pt;
  width: 100%;
  margin-right: 0.5cm;
  margin-left: 183.33333333333333333334px;
}

#labels>label{
  margin-top: 0.5cm;
}

#resultatCompo>div{
  margin-top: 0.5cm;
}
#resultatMorceau>div{
  margin-top: 0.5cm;
}

.liste{
  background-color: white;
}
.liste p{
  border: 1px solid black;
  margin: 0px;
  padding: 5pt;
}
#image{
  width: 200px;
}

form{
  width: 5cm;
  background-color: white;
}

.filtre{
  width: 5cm;
}

.field{
  padding-top: 5pt;
  padding-bottom: 5pt;
}

#container{
  display: flex;
}

.viewReduite{
  border: 1pt solid black;
  padding: 5pt;
  width: 40%;
}
header > img{
  height: 2cm;
}
header{
  display: flex;
  margin: 10pt;
}