/*
  But :     CSS du projet sur les compositeurs
  Auteur : Rémi Carrard
  Date :   05.06.2023 / V1.0
*/
body {
  background-color: #ffffe3;
  font-family: Arial, Helvetica, sans-serif;
}

.titre{
  font-size: 24pt;
  text-align: center;
}

.contenu{
  display: flex;
  align-items: flex-start;
}

#compositeurs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding: 5pt;
  border-radius: 2pt;
}
.comp{
  text-align: center;
  font-size: 14pt;
}