/*
  But :     CSS du projet sur les compositeurs
  Auteur : Rémi Carrard
  Date :   05.06.2023 / V1.0
*/
body {
  background-color: #afafaf;
  font-family: Arial, Helvetica, sans-serif;
}

.titre {
  font-size: 24pt;
  text-align: center;
  margin: 0.5cm;
  padding-left: 40%;
}

.contenu {
  display: flex;
  align-items: flex-start;
}

#compositeurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comp > img {
  border-radius: 5pt;
}
.nomComp>p {
  text-align: center;
  flex-wrap: wrap;
  width: 200px;
  color: black;
}
a{
  text-decoration: none;
  color: black;
}
#labels {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 5pt;
  font-size: 14pt;
  position: absolute;
}
#resultatMorceau{
  display: flex;
  flex-direction: column;
  margin: 5pt;
  font-size: 14pt;
  width: 147px;
  margin-right: 0.5cm;
  margin-left: 135.33333333333333333334px;
}

#resultatCompo{
  display: flex;
  flex-direction: column;
  margin: 5pt;
  font-size: 14pt;
  width: 100%;
  margin-right: 0.5cm;
  margin-left: 183.33333333333333333334px;
}

#labels>label{
  margin-top: 0.5cm;
}

#resultatCompo>div{
  margin-top: 0.5cm;
}
#resultatMorceau>div{
  margin-top: 0.5cm;
}

.liste{
  background-color: white;
}
.liste p{
  border: 1px solid black;
  margin: 0px;
  padding: 5pt;
}
#image{
  width: 200px;
}

form{
  width: 5cm;
  background-color: white;
}

.filtre{
  width: 5cm;
}

.field{
  padding-top: 5pt;
  padding-bottom: 5pt;
}

#container{
  display: flex;
}

.viewReduite{
  border: 1pt solid black;
  padding: 5pt;
  width: 40%;
}
header > img{
  height: 2cm;
}
header{
  display: flex;
  margin: 10pt;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  border: 1px solid #f1f1f1;
  background-color: white;
  color: black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back{
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

#toogler, #labelToogler{
  display: none;
}

@media screen and (max-width: 725px){
  .filtre{
    width: 1cm;
    max-height: 0;
    overflow: hidden;
  }
  #labelToogler{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toogler:checked ~ .filtre{
    max-height: 20cm;
  }
}