<!DOCTYPE html>

<!-- panneau de login -->
<div>
  <div class="titre">
    Liste des compositeurs
  </div>
  <div class="contenu">
    <div class="filtre">
      Filtrer par époque :
      <form>
        <fieldset> 
          <div class="field">
            <input type="checkbox" id="medieval">
            <label>Medieval</label>
          </div>
          <div class="field">
            <input type="checkbox" id="renaissance">
            <label>Renaissance</label>
          </div>
          <div class="field">
            <input type="checkbox" id="baroque">
            <label>Baroque</label>
          </div>
          <div class="field">
            <input type="checkbox" id="classical">
            <label>Classical</label>
          </div>
          <div class="field">
            <input type="checkbox" id="earlyRomantic">
            <label>Early Romantic</label>
          </div>
          <div class="field">
            <input type="checkbox" id="romantic">
            <label>Romantic</label>
          </div>
          <div class="field">
            <input type="checkbox" id="lateRomantic">
            <label>Late Romantic</label>
          </div>
          <div class="field">
            <input type="checkbox" id="20thCentury">
            <label>20th Century</label>
          </div>
          <div class="field">
            <input type="checkbox" id="postWar">
            <label>Post-War</label>
          </div>
          <div class="field">
            <input type="checkbox" id="21stCentury">
            <label>21st Century</label>
          </div>
        </fieldset>
      </form>
    </div>
    <div id="compositeurs">&nbsp;
    </div>
  </div>
</div>
