<!DOCTYPE html>

<!-- panneau de login -->
<div>
  <div class="titre">
    Liste des compositeurs
  </div>
  <div class="contenu">
    <div class="filtre">
      Filtrer par époque :
      <form>
        <fieldset> 
          <div class="field">
            <input type="radio" id="Medieval" name="filtre" onclick="indexCtrl.loadCompositeur('Medieval')">
            <label>Medieval</label>
          </div>
          <div class="field">
            <input type="radio" id="Renaissance" name="filtre">
            <label>Renaissance</label>
          </div>
          <div class="field">
            <input type="radio" id="Baroque" name="filtre">
            <label>Baroque</label>
          </div>
          <div class="field">
            <input type="radio" id="Classical" name="filtre">
            <label>Classical</label>
          </div>
          <div class="field">
            <input type="radio" id="Early Romantic" name="filtre">
            <label>Early Romantic</label>
          </div>
          <div class="field">
            <input type="radio" id="Romantic" name="filtre">
            <label>Romantic</label>
          </div>
          <div class="field">
            <input type="radio" id="Late Romantic" name="filtre">
            <label>Late Romantic</label>
          </div>
          <div class="field">
            <input type="radio" id="20th Century" name="filtre">
            <label>20th Century</label>
          </div>
          <div class="field">
            <input type="radio" id="Post-War" name="filtre">
            <label>Post-War</label>
          </div>
          <div class="field">
            <input type="radio" id="21st Century" name="filtre">
            <label>21st Century</label>
          </div>
          <div class="field">
            <input type="radio" id="all" name="filtre" checked="checked">
            <label>All</label>
          </div>
        </fieldset>
      </form>
    </div>
    <div id="compositeurs">&nbsp;
    </div>
  </div>
</div>
